*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header{
    grid-area: he;
    display: flex;
    background-color: rgb(240, 143, 159);
    position: sticky;
    top: 0px;
    align-items: center;
    padding-left: 10px;
}

#header_logo{
    border-radius: 55px;
    height: 80px;
    width: auto;
}

nav{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(240, 143, 159);
    align-items: center;
    grid-area: na;
    position: sticky;
    top: 0px;
}

#länk_lista a{
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#länk_lista{
    background-color: rgb(240, 143, 159);
    height: 400px;
    width: 100%;
    position: absolute;
    top: -400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    list-style: none;
    transition: 0.5s;
}

.länk_lista_synlig{
    transform: translateY(500px);
}

#burgare{
    margin-right: 50px;
    cursor: pointer;
}

#burgare div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 20%;
    transition: 0.5s;
}

.burgare_i_x_form #mitten_linje{
    opacity: 0;
}

.burgare_i_x_form #top_linje{
    transform: rotate(-45deg) translate(-5px, 6px);    
}

.burgare_i_x_form #botten_linje{
    transform: rotate(45deg) translate(-5px, -6px);  
}

footer{
    grid-area: fo;
    background-image: url("../img/footer_bakgrund.png");
    background-size: cover;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "vs hs";
    border-top: 10px ridge aliceblue;
    color:aliceblue;

}

#hogersida{
    grid-area: hs;
    padding: 15px;
    background: rgba(0, 0, 0, 0.7);
    width: 180px;
    border-radius: 15px;
    margin: 20px 0px 0px 10px;
}

#vanstersida{
    display: flex;
    flex-direction: column;
    grid-area: vs;
    padding: 15px;
    margin-left: auto;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    width: 330px;
    margin-right: 10px;
    margin-top: 20px;
}

.titel_lank{
    font-size: 25px;
}

.footer_lank{
    display: flex;
    margin-top: 30px;
}

.footer_lank a{
    text-decoration: none;
    color: aliceblue;
    font-size: 20px
}

.footer_lank a:active {
    text-decoration: underline;
}

.footer_lank a:hover{
    text-decoration: underline;
}

#map {
    height: 300px; 
    width: 300px; 
  }

/* ---------------------------------------STARTSIDAN------------------------------------------------------------ */

#grid_wrapper_index{
    display: grid;
    grid-template-columns:200px  minmax(200px, 1fr) ;
    grid-template-rows: 100px 400px 400px 400px 400px 400px;
    grid-template-areas: 
    "he na"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    "fo fo";
    position: relative;
}

#section_1{
    grid-area: s1;
    display: flex;
    background-image: url("../img/prastgards_huset.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    font-size: 40px;
}

#section_2{
    grid-area: s2;
    background-color: rgb(250, 152, 166);
}

#section_3{
    grid-area: s3;
    background-color: rgb(250, 163, 176);
}

#section_4{
    grid-area: s4;
    background-color: rgb(247, 174, 185);
}

.box_index{
    padding: 20px;
    color: aliceblue;
    border: 7px outset aliceblue;
}

.tider{
    list-style: none;
    margin: 10px;
    font-size: 18px;
}

.box_index a{
    color: aliceblue;
}

/* Popup container */
.popup {
    display: inline-block;
    cursor: pointer;
  }
  
  /* The actual popup (appears on top) */
  .popup .popuptext {
    visibility: hidden;
    width: 170px;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    bottom: 20px;
    left: 20px;
  }
  
  /* Toggle this class when clicking on the popup container (hide and show the popup) */
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }
  
  /* Add animation (fade in the popup) */
  @-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }
/* ---------------------------------------Kalender------------------------------------------- */

#grid_wrapper_kalender{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 100px 600px 800px 400px;
    grid-template-areas: 
    "he na"
    "kt kt"
    "tr tr"
    "di di"
    "fo fo";
    position: relative;
}

#kalender_titel{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: kt;
    text-transform: uppercase;
    font-size: 80px;
    color: aliceblue;
    background: pink;
    border: aliceblue 7px double;
}

#text-ruta{
    grid-area: tr;
    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#text-container{
    background-color: aliceblue;
    height: 400px;
    width: 600px;
    border-radius: 15px;
}

.osynlig{
    display: none;
}

#alla_handelser{
    display: flex;
    flex-direction: column;
    grid-area: di;
    justify-content: space-around;
    padding: 20px;
    background-image: url("../img/prastgards_huset.jpg");
    background-size: cover;
    background-position: center;
}

.frame{
    border: outset pink 7px;
    height: 130px;
    width: 100%;
}

#article_k1{
    background-image: url("../img/rom.jpg");
    background-size: cover;
    background-position: center;
}

#article_k2{
    background-image: url("../img/krakow.jpg");
    background-size: cover;
    background-position: center;
}

#article_k3{
    background-image: url("../img/ieper.jpg");
    background-size: cover;
    background-position: center;
}

#article_k4{
    background-image: url("../img/konfa.jpg");
    background-size: cover;
    background-position: center;
}

#article_k5{
    background-image: url("../img/eroom.jpg");
    background-size: cover;
    background-position: center;
}


/* ----------------------------------------vi pa pg-------------------------------------- */

#grid_wrapper_vi_pa_pg{
    display: grid;
    grid-template-rows: 100px 800px 400px;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-areas: 
    "he na"
    "bv bv"
    "fo fo";
}

#bakgrund_vi_pa_pg{
    grid-area: bv;
    background-image: url("../img/prastgards_huset.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.person_kontainer{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "iv tv";
    background: lightpink;
    height: 250px;
    width: 550px;
    border: 5px aliceblue outset;
}

.bild_mitten{
    display: flex;
    grid-area: iv;
    justify-content: center;
    align-items: center;
}

.bild_i_kontainer{
    height: 200px;
    width: 170px;
    border: 5px double aliceblue;
}

.text_vi_pa_pg{
    grid-area: tv;
    padding-top: 20px;
    color: aliceblue;

}

.text_vi_pa_pg a{
    color: aliceblue;
}

.namn_personal{
    padding-bottom: 10px;
    font-size: 30px;
}

.arbetsplats{
    font-size: 17px;
}

.yrke{
    font-size: 15px;
    padding-bottom: 20px;
}

.kontakt_info{
    font-size: 18px;
}
/* --------------------------------------basta assistenten------------------------------ */

#grid_wrapper_basta_assistenten{
    display: grid;
    grid-template-rows: 100px 1300px 400px;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-areas: 
    "he na"
    "bb bb"
    "fo fo";
}

#bakgrund_basta{
    display: grid;
    grid-template-rows: 200px 500px 600px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sb"
    "ig"
    "ab";
    grid-area: bb;
    background-image: url("../img/prastgards_huset.jpg");
    background-size: cover;
    background-position: center;
}

#image_basta_kontainer{
    grid-area: ig;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rubrik_basta{
    grid-area: sb;
    display: flex;
    text-align: center;
    align-items: center;
    align-self: center;
    justify-self: center;
    color: aliceblue;
    font-size: 45px;
    padding-top: 5px;
    background: pink;
    border-radius: 10px;
    width: 500px;
    border: aliceblue 7px ridge;
}

#namn_rubrik{
    color: aliceblue;
    font-size: 40px;
    background: pink;
    border-radius: 5px;
    border: aliceblue 5px ridge;
}

#bilden_pa_basta{
    height: 400px;
    width: auto;
    border: aliceblue 7px ridge;
    border-radius: 20px;
}

#varfor_basta{
    grid-area: ab;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tal{
    padding: 10px;
    height: 490px;
    width: 550px;
    background: pink;
    border: aliceblue 7px ridge;
    color: aliceblue;
    border-radius: 10px;
}



/* -------------------------------------dator----------------------------------------- */

@media screen and (min-width: 700px) {
    
    #burgare{display: none;}
    header{display: none;}

    #section_1{font-size: 60px;}

    #länk_lista{
    background-color: rgb(240, 143, 159);
    height: 100px;
    width: 100%;
    top: 0px;
    flex-direction: row;
    }

    #länk_lista a{font-size: 25px;}

    .länk_lista_synlig{
    transform: translateY(0px);
    }

    #hogersida{width: 330px;}

    /* -----------------------------------------------STARTSIDA--------------------------------- */

    #grid_wrapper_index{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 550px 400px 400px;
    grid-template-areas: 
    "na na na"
    "s1 s1 s1"
    "s2 s3 s4"
    "fo fo fo";
    }   

    #section_1{font-size: 60px;}

    /* ------------------------------------------------KALENDER------------------------------------ */

    #grid_wrapper_kalender{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px 700px 400px;
    grid-template-areas: 
    "na na"
    "kt kt"
    "di tr"
    "fo fo";
    }   

    #text-kontainer{
        width: 500px;
        height: 600px;
    }

    
/* ----------------------------------------vi pa pg-------------------------------------- */

#grid_wrapper_vi_pa_pg{
    display: grid;
    grid-template-rows: 100px 600px 400px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "na"
    "bv"
    "fo";
}

.person_kontainer{
    width: 800px;
}
    
    /* -----------------------------------------------------BASTA ASSISTENTEN------------------------------ */

    #grid_wrapper_basta_assistenten{
        grid-template-rows: 100px 800px 400px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "na"
        "bb"
        "fo";
    }

    #bakgrund_basta{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 200px 600px;
        grid-template-areas: 
        "sb sb"
        "ig ab";
    }
    
    #bilden_pa_basta{
        height: 450px;
        width: auto;
    }

    #tal{
        height: 500px;
        width: 550px;
    }

}