*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    grid-area: he;
    background-color: rgb(240, 143, 159);
    position: sticky;
    top: 0px;
}

nav{
    display: flex;
    justify-content: flex-end;
    background-color: rgb(240, 143, 159);
    align-items: center;
    grid-area: na;
    position: sticky;
    top: 0px;
}

#länk_lista a{
    text-decoration: none;
    letter-spacing: 0.1875rem;
    color: aliceblue;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25rem;
    text-transform: uppercase;
}

#länk_lista{
    background-color: rgb(240, 143, 159);
    height: 400px;
    width: 200px;
    position: absolute;
    top: -400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    transition: 0.5s;
}

.länk_lista_synlig{
    transform: translateY(500px);
}

#burgare{
    margin-right: 50px;
    cursor: pointer;
}

#burgare div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 20%;
    transition: 0.5s;
}

.burgare_i_x_form #mitten_linje{
    opacity: 0;
}

.burgare_i_x_form #top_linje{
    transform: rotate(-45deg) translate(-5px, 6px);    
}

.burgare_i_x_form #botten_linje{
    transform: rotate(45deg) translate(-5px, -6px);  
}

footer{
    grid-area: fo;
    background-color: lightcoral;
}

/* ---------------------------------------STARTSIDAN------------------------------------------------------------ */

#grid_wrapper_index{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 400px 400px 400px 400px 80px;
    grid-template-areas: 
    "he na"
    "s1 s1"
    "s2 s2"
    "s3 s3"
    "s4 s4"
    "fo fo";
    position: relative;
}

#section_1{
    grid-area: s1;
    display: flex;
    background-image: url("../img/prastgards_huset.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    justify-content: space-around;
    color: aliceblue;
    font-size: 40px;
}

#section_2{
    grid-area: s2;
    background-color: lightgreen;
}

#section_3{
    grid-area: s3;
    background-color: lightpink;
}

#section_4{
    grid-area: s4;
    background-color: lightsalmon;
}

/* ---------------------------------------Kalender------------------------------------------- */

#grid_wrapper_kalender{
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-rows: 100px 1000px 80px;
    grid-template-areas: 
    "he na"
    "di di"
    "fo fo";
    position: relative;
}

#alla_handelser{
    display: flex;
    flex-direction: column;
    grid-area: di;
    justify-content: space-around;
    padding: 20px;
    background-image: url("../img/prastgards_huset.jpg");
    background-size: cover;
    background-position: center;
}

.frame{
    border: outset pink 7px;
    height: 150px;
    width: 100%;
    padding: 20px;
}

#article_k1{
    background-image: url("../img/rom.jpg");
    background-size: cover;
    background-position: center;
}

#article_k2{
    background-image: url("../img/rom.jpg");
    background-size: cover;
    background-position: center;
}

#article_k3{
    background-image: url("../img/rom.jpg");
    background-size: cover;
    background-position: center;
}

#article_k4{
    background-image: url("../img/rom.jpg");
    background-size: cover;
    background-position: center;
}

#article_k5{
    background-image: url("../img/rom.jpg");
    background-size: cover;
    background-position: center;
}

.kalender_article{
    color: aliceblue;
}

/* --------------------------------------basta assistenten------------------------------ */

#grid_wrapper_basta_assistenten{
    display: grid;
    grid-template-rows: 100px 1000px 80px;
    grid-template-columns: minmax(200px, 1fr) 200px;
    grid-template-areas: 
    "he na"
    "bb bb"
    "fo fo";
}

#bakgrund_basta{
    display: grid;
    grid-template-rows: 60px 500px 500px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "sb"
    "ig"
    "ab";
    grid-area: bb;
    background-image: url("../img/prastgards_huset.jpg");
    background-size: cover;
    background-position: center;
}

#image_basta_kontainer{
    grid-area: ig;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#rubrik_basta{
    grid-area: sb;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    font-size: 45px;
    padding-top: 5px;
}

#namn_rubrik{
    color: aliceblue;
    font-size: 40px;
}

#bilden_pa_basta{
    height: 400px;
    width: auto;
}

#varfor_basta{
    grid-area: ab;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tal{
    padding: 10px;
    height: 410px;
    width: 550px;
    background: pink;
    color: aliceblue;
    border-radius: 10px;
}



/* -------------------------------------dator----------------------------------------- */

@media screen and (min-width: 700px) {
    
    #burgare{display: none;}
    header{display: none;}

    #section_1{font-size: 60px;}

    #länk_lista{
    background-color: rgb(240, 143, 159);
    height: 100px;
    width: 100%;
    top: 0px;
    flex-direction: row;
    }

    .länk_lista_synlig{
    transform: translateY(0px);
    }

    /* -----------------------------------------------STARTSIDA--------------------------------- */

    #grid_wrapper_index{
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 550px 400px 80px;
    grid-template-areas: 
    "na na na"
    "s1 s1 s1"
    "s2 s3 s4"
    "fo fo fo";
    }   

    #section_1{font-size: 60px;}

    /* ------------------------------------------------KALENDER------------------------------------ */

    #grid_wrapper_kalender{
    grid-template-columns: 100%;
    grid-template-rows: 100px 700px 80px;
    grid-template-areas: 
    "na"
    "di"
    "fo";
        }   

    #alla_handelser{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .frame{
        width: 550px;
    }

    .kalender_article{
        opacity: 0;
        height: 100%;
        width: 100%;
    }

    .kalender_article:hover{
        opacity: 100%;
    }
    
    /* -----------------------------------------------------BASTA ASSISTENTEN------------------------------ */

    #grid_wrapper_basta_assistenten{
        grid-template-rows: 100px 660px 80px;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "na"
        "bb"
        "fo";
    }

    #bakgrund_basta{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 60px 600px;
        grid-template-areas: 
        "sb sb"
        "ig ab";
    }
    
    #bilden_pa_basta{
        height: 450px;
        width: auto;
    }

    #tal{
        height: 440px;
        width: 550px;
    }

}